// colours

$whiteColor: #eeeeef;
$blackColor: #1e1e1e;
$primaryColor: #1290F4;
$secondaryColor: #1F3145;

//sizes

$heightBar_width: 180px;

//path's

$pathFont: '/assets/fonts/';
$pathFontIcons: '/assets/fonts/icons/';

